<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="vyas.kaushal.dementiacare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/WhiteActionBarAppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrainingActivity"
            android:label="@string/func_training"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PuzzleActivity"
            android:label="@string/func_puzzle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AugmentedRealityActivity"
            android:label="@string/func_augmented_reality"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Training.WaterActivity"
            android:label="@string/training_water_full"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Training.FoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Alarm.AlarmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Puzzle.JigsawActivity"
            android:label="@string/puzzle_image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Puzzle.GameActivity"
            android:label="@string/puzzle_game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AugmentedReality.SelfieActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/ar_selfie"
            android:screenOrientation="locked" />

        <!--
         This tag indicates that this application requires ARCore. This results in the
          application only being visible in the Google Play Store on devices that support
          ARCore.
        -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <receiver
            android:name=".Alarm.WaterTrainingAlarm"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Alarm.FoodTrainingAlarm"
            android:enabled="true"
            android:exported="true" />
    </application>

    <!-- This tag indicates that this application requires ARCore. This results in the application only being visible in the Google Play Store on devices that support ARCore. -->
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <dist:module dist:instant="true" />

</manifest>