@font-face {
    font-family: 'CustomFont';
    src: url('Fonts/Aquatico-Regular.otf');
}

html, body {
    height: 100%;
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.calibri-font {
    font-family: CustomFont;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.abs-position {
    position: absolute;
}

.full-height {
    height: auto;
}

.full-width {
    width: 100%;
}

.img-fit {
    height: auto;
    width: 100%;
}

.img-center {
    display: block;
    margin: auto;
    width: 60%;
}

.dc-margin-padding {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.patients-chart {
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Small Devices (Landscape Phones, 576px and Up) */
@media (min-width: 576px) {
    .full-height {
        height: auto;
    }

    .img-fit {
        height: auto;
        width: 100%;
    }

    .img-center {
        display: block;
        margin: auto;
        width: 60%;
    }

    .dc-margin-padding {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .patients-chart {
        width: 100%;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Medium Devices (Tablets, 768px and Up) */
@media (min-width: 768px) {
    .full-height {
        height: auto;
    }

    .img-fit {
        height: auto;
        width: 100%;
    }

    .img-center {
        display: block;
        margin: auto;
        width: 60%;
    }

    .dc-margin-padding {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .patients-chart {
        width: 100%;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Large Devices (Desktop, 992px and Up) */
@media (min-width: 992px) {
    .full-height {
        height: 100vh;
    }

    .img-fit {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .img-center {
        padding-top: 40px;
        padding-left: 40px;
        display: inline;
        margin: 0;
        width: 360px;
    }

    .dc-margin-padding {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .patients-chart {
        width: 100%;
        height: auto;
        padding: 30px;
    }
}

/* Extra Large Devices (Large Desktop, 1200px and Up) */
@media (min-width: 1200px) {
    .full-height {
        height: 100vh;
    }

    .img-fit {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .img-center {
        padding-top: 50px;
        padding-left: 50px;
        display: inline;
        margin: 0;
        width: 360px;
    }

    .dc-margin-padding {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .patients-chart {
        width: 100%;
        height: auto;
        padding: 30px;
    }
}
